<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body class="body">
    <header>
        <div class="container-fluid bg-dark text-light">
             <i class="fa fa-phone" aria-hidden="true">Tel:+254717947302</i>
             <i class="fa fa-mail-forward" aria-hidden="true">carandgen254@gmail.com</i>
         <ul class="nav nav-tabs nav-stacked ml-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active ">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link ">Items</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">LogIn</a>
            </li>
            <li>
                <a href="" class="nav_link"></a>
            </li>
        </ul>
        </div>
        
    </header>
    <main>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                
            
                <h1 class="display-3">CAR and GENERAL</h1>
                <p class="lead">Power for better living</p>
                <hr class="my-2">
                <p>More info</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
                </p>
            </div>
        </div>
    </main>

    <footer class="footer bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>We make our customers smile</p> 
                </div>
                <div class="col-md-6">
                    <a href="tel:+">Tel:+254717947302</a>
                    <a href="mailto:" class="mail p-100px">Mailto:carandgen254@gmail.com</a>
                </div>
            </div> 
        </div>
    </footer>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

