{%load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="{%static 'base/css/tracking.css' %}">
</head>
<body>
    <h1></h1>
    <div class="class"></div>
    <div class="links">
        <a href="">Login</a>
        <a href="">Login</a>
        <a href="">Login</a>
        <a href="">Login</a>
        <a href="">Login</a>
        <a href="">Login</a>
        
    </div>
 <p></p>   
</body>
<footer>
    <h1></h1>
</footer>
</html>