*{
    margin: 0%;
    padding: 0%;
}
.body_style{
    height: 100vh;
    width: 100%;
    background-color:bisque;
}
header{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.contact{
     width: 50%;
}
.links{
    width: 50%;
    
}
.links nav{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.links nav a{
    text-decoration: none;
    text-align: center;   
    color: white;
    margin: 20px; 
    transition: all 1s ease-in-out;
}
.links nav a:hover{
    color: red;
    border-bottom: 1px solid red;
}

