{% extends 'base.html' %}

{% block page_title %}
    Tracker
{% endblock page_title %}

{% block main_content %}

{% load static %}

    <div class="jumbotron2">
       <form action="" method="post" class="container">
        <table class="table table-dark">
            <thead class="thead-light">
                <tr>
                    <th>Unique Code</th>
                    <th>Item name</th>
                    <th>Destination </th>
                    <th>receiver_id_number</th>
                    <th>receiver_confirmation</th>
                    <th>actions</th>
                    
    
                </tr>
            </thead>
            {% for order in orders %}
            <tbody>
                    <tr>
                        <td>
                            {{ order.unique_code }}
                        </td>
                        <td>
                            {{ order.item_id }}
                        </td>
                        <td>
                            {{ order.destination }}
                        </td>
                        <td>
                           {{ order.receiver_id_number }}
                        </td>
                        <td>
                            {{ order.receiver_confirmation }}
                        </td>
        
                        <td>
                            <div class="row ">
                                <button type="button" name="" id="" class="btn btn-danger btn-lg btn-block col m-2 p-0">
                                    <i class="fas fa-print"></i>Update
                                </button>
                                <button type="button" class="btn btn-danger col m-2 p-0">
                                    <i class="fas fa-print"></i>Print
                                </button>
                            </div>
                        </td>
                        
                    </tr>
                </tbody>
            {% endfor %}
                
           
            
        </table>
       </form>
    </div>
    <div class="text ">
        

    </div>
    
    




{% endblock main_content %}