{% extends 'base.html' %}

{% block page_title %}
    Tracker
{% endblock page_title %}

{% block main_content %}

{% load static %}

    <div class="jumbotron2">
       <form action="" method="post" class="container">
        <table class="table table-dark">
            <thead class="thead-light">
                <tr>
                    <th>Unique Code</th>
                    <th>Item name</th>
                    <th>Item Status</th>

                    <th>Destination </th>
                    <th>Receiver Phone Number</th>
                    <th>Receiver First Name</th>
                    <th>Receiver Last Name</th>
                    <th>Actions</th>
                    
    
                </tr>
            </thead>
            {% for order in orders %}
            <tbody>
                    <tr>
                        <td>
                            {{ order.unique_code }}
                        </td>
                        <td>
                            {{ order.item_id }}
                        </td>
                        <td>
                            {{ order.item_status }}
                        </td>
                        <td>
                            {{ order.destination }}
                        </td>
                        <td>
                            {{ order.receiver_phone_number }}
                         </td>
                       
                        <td>
                            {{ order.receiver_first_name }}
                        </td>
                        <td>
                            {{ order.receiver_last_name }}
                        </td>
                        
                        

                        
        
                        <td>
                            <div class="row ">
                               
                                <button type="button" onclick="location.href='{% url 'print_order' order.unique_code %}'" class="btn btn-danger col m-2 p-0">
                                    <i class="fas fa-print"></i>Print
                                </button>
                                
                            </div>
                        </td>
                        
                    </tr>
                </tbody>
            {% endfor %}
                
           
            
        </table>
       </form>
    </div>
    <div class="text ">
        

    </div>
    
  
  
    <script>
        function printOrder(unique_code) {
            console.log('Printing order with unique_code:', unique_code);
            const printWindow = window.open('', '_blank');
            printWindow.document.open();
            printWindow.document.close();

            printWindow.onload = function() {
                printWindow.print();
                printWindow.close();
            };
        }
    </script>






{% endblock main_content %}